{% set asset_base = relative_base | default(value="/.mbr/") %}
{% include "_head.html" %}
    <link rel="stylesheet" href="{{ asset_base }}hljs.dark.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css"
    integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew"
    crossorigin="anonymous"
    />
    {% if tags %}
    <meta name="keywords" content="{{tags | safe}}" data-pagefind-filter="tag[content]" />
    {% elif keywords %}
    <meta name="keywords" content="{{keywords | safe}}" data-pagefind-filter="tag[content]" />
    {% elif taxonomy.tags %}
    <meta name="keywords" content="{{taxonomy.tags | safe}}" data-pagefind-filter="tag[content]" />
    {% endif %}
    <title>{{title | default(value="") | safe}}</title>
    <meta name="title" content="{{title | default(value="") | safe}}" data-pagefind-meta="title[content]" />
    <meta name="description" content="{{description | default(value="") | safe}}" data-pagefind-meta="description[content]" />
    <meta http-equiv="last-modified" content="{{date | default(value="") | safe}}" data-pagefind-sort="date[content]" />
    <script>
      // Frontmatter available to page scripts (excludes rendered markdown for efficiency)
      window.frontmatter = {{ frontmatter_json | safe }};
    </script>
