    <header class="container" data-pagefind-ignore>
      <nav role="navigation" aria-label="Main menu">
        <ul>
          <li>
            <button class="outline contrast browse-trigger"
                    onclick="document.querySelector('mbr-browse')?.open()"
                    aria-label="Browse files">
                        <div class= "mbr-hamburger-button"></div>
            </button>
          </li>
        </ul>
        <ul>
          <li><strong>{% if title %}{{ title }}{% elif current_dir_name %}{{ current_dir_name }}{% endif %}</strong></li>
        </ul>
        <ul>
          <li><mbr-search></mbr-search></li>
        </ul>
      </nav>
    </header>
    <nav class="container" aria-label="breadcrumb" role="navigation">
    <ul>
        {% if breadcrumbs %}
        {% for crumb in breadcrumbs %}
        <li>
        <small><a href="{{ crumb.url }}">{{ crumb.name }}</a></small>
        </li>
        {% endfor %}
        {% endif %}
        <li><small>{% if title %}{{ title }}{% elif current_dir_name %}{{ current_dir_name }}{% endif %}</small></li>
    </ul>
    </nav>
