:root {
  --mbr-icon-search: url("data:image/svg+xml,%20%20%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221.2em%22%20height%3D%221.2em%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M416%20208c0%2045.9-14.9%2088.3-40%20122.7l126.6%20126.7c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L330.7%20376c-34.4%2025.2-76.8%2040-122.7%2040C93.1%20416%200%20322.9%200%20208S93.1%200%20208%200s208%2093.1%20208%20208M208%20352a144%20144%200%201%200%200-288a144%20144%200%201%200%200%20288%22%2F%3E%3C%2Fsvg%3E");

  --mbr-icon-hamburger: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221.05em%22%20height%3D%221.2em%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M0%2096c0-17.7%2014.3-32%2032-32h384c17.7%200%2032%2014.3%2032%2032s-14.3%2032-32%2032H32c-17.7%200-32-14.3-32-32m0%20160c0-17.7%2014.3-32%2032-32h384c17.7%200%2032%2014.3%2032%2032s-14.3%2032-32%2032H32c-17.7%200-32-14.3-32-32m448%20160c0%2017.7-14.3%2032-32%2032H32c-17.7%200-32-14.3-32-32s14.3-32%2032-32h384c17.7%200%2032%2014.3%2032%2032%22%2F%3E%3C%2Fsvg%3E");
}

.mbr-hamburger-button {
  width: 1.2em;
  height: 1.2em;
  mask-size: cover;
  mask: var(--mbr-icon-hamburger) no-repeat 100% 100%;
  background-color: var(--pico-color);
  margin-left: -14px;
}

.mbr-search-button {
  width: 1.2em;
  height: 1.2em;
  mask-size: cover;
  mask: var(--mbr-icon-search) no-repeat 100% 100%;
  background-color: var(--pico-color);
  margin-right: -14px;
}

body > header {
  background-color: var(--pico-background-color);
  border-bottom: 2px solid var(--pico-secondary-border);
  position: sticky;
  top: 0;
  padding-block: 0;
  z-index: 999;
}

body > header > nav {
  padding-block: 0;
  margin-block: 0;
}
body > header > nav > ul {
  height: 2.4em;
}

body > header nav details[class="dropdown"] summary {
  border-color: transparent;
  background-color: transparent;
  margin-right: -14px;
}

body > header nav details[class="dropdown"] summary::after {
  background: none;
}

body > footer {
  border-top: 1px solid var(--pico-secondary-border);
}

figure > video {
  width: 100%;
  height: auto;
  align-items: center;
  /* display: inline-flex; */
  user-select: none;
}
figure > video::cue {
  font-size: 0.875em;
  margin: 1em;
  padding: 0.5em;
}
media-provider > video::cue {
  display: none;
}
